*.o
*.lo
*.la
*.cache
*.swp
*.log
*.status
*~
*.xml
libtool
stamp-h1
tags
Makefile
Makefile.in
configure
install-sh
ltmain.sh
mkinstalldirs
Debug
/m4
aclocal.m4
.*
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
wokjab/src/wokjab
wokjab/src/wokbot
config.*
