/wokjab/src/wokjab
Makefile.in
Makefile
*.lo
*.la
*.o
.deps
.libs
*~
/libtool
/config.h
/config.log
/config.status
/m4
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/autom4te.cache
/stamp-h1
/config.h.in
